<div id="<%= dom_id edition %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Volume:</strong>
    <%= edition.volume %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Data da públicação:</strong>
    <%= edition.publication_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Editores:</strong>
    <%= edition.editors %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tema:</strong>
    <%= edition.theme %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tipo da edição:</strong>
    <%= edition.edition_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">URL de acesso:</strong>
    <%= edition.url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">DOI:</strong>
    <%= edition.doi %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Formatos disponíveis:</strong>
    <%= edition.available_format %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Revista científica:</strong>
    <%= edition.scientific_journal_id %>
  </div>
</div>
