<%= form_with(model: edition, class: "contents") do |form| %>
  <% if edition.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(edition.errors.count, "error") %> prohibited this edition from being saved:</h2>

      <ul class="list-disc ml-6">
        <% edition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :volume %>
    <%= form.text_field :volume, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": edition.errors[:volume].none?, "border-red-400 focus:outline-red-600": edition.errors[:volume].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :publication_date %>
    <%= form.date_field :publication_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": edition.errors[:publication_date].none?, "border-red-400 focus:outline-red-600": edition.errors[:publication_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :editors %>
    <%= form.text_area :editors, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": edition.errors[:editors].none?, "border-red-400 focus:outline-red-600": edition.errors[:editors].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :theme %>
    <%= form.text_field :theme, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": edition.errors[:theme].none?, "border-red-400 focus:outline-red-600": edition.errors[:theme].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :edition_type %>
    <%= form.text_field :edition_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": edition.errors[:edition_type].none?, "border-red-400 focus:outline-red-600": edition.errors[:edition_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :doi %>
    <%= form.text_field :doi, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": edition.errors[:doi].none?, "border-red-400 focus:outline-red-600": edition.errors[:doi].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :available_format %>
    <%= form.text_field :available_format, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": edition.errors[:available_format].none?, "border-red-400 focus:outline-red-600": edition.errors[:available_format].any?}] %>
  </div>

  <% if scientific_journal_id.present? %>
    <div class="my-5">
      <%= form.label :scientific_journal_id %>
      <%= form.hidden_field :scientific_journal_id, value: scientific_journal_id %>
      <%= ScientificJournal.find(scientific_journal_id).name %>
    </div>
  <% else %>
    <div class="my-5">
      <%= form.label :scientific_journal_id %>
      <%= form.collection_select :scientific_journal_id, ScientificJournal.all, :id, :name, { prompt: "Selecione a Revista" }, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": edition.errors[:scientific_journal_id].none?, "border-red-400 focus:outline-red-600": edition.errors[:scientific_journal_id].any? }] %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>