<% content_for :title, "Showing edition" %>

<div class="max-w-7xl mx-auto container w-full bg-white rounded-lg shadow-sm px-4 py-8">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="mb-4 text-sm breadcrumbs">
    <ul class="flex space-x-2">
      <li class="text-stone-500"><%= link_to "Revistas", scientific_journals_path %></li>
      <li>/</li>
      <li class="text-stone-500"><%= link_to @edition.scientific_journal.name, scientific_journal_path(@edition.scientific_journal) %></li>
      <li>/</li>
      <li>Volume <%= @edition.volume %></li>
    </ul>
  </div>

  <h1 class="font-bold text-4xl"><%= @edition.volume %></h1>

  <div class="w-full grid grid-cols-3 gap-4 my-5">
    <div>
      <strong class="block font-medium mb-1">Publication date:</strong>
      <%= @edition.publication_date %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Editors:</strong>
      <%= @edition.editors %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Theme:</strong>
      <%= @edition.theme %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Edition type:</strong>
      <%= @edition.edition_type %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Access url:</strong>
      <a href="<%= @edition.url %>" target="_blank" rel="noopener noreferrer">
        <%= truncate(@edition.url, length: 40, omission: " ...") %>
      </a>
    </div>
    <div>
      <strong class="block font-medium mb-1">Doi:</strong>
      <%= @edition.doi %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Available format:</strong>
      <%= @edition.available_format %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Scientific journal:</strong>
      <%= @edition.scientific_journal_id %>
    </div>
  </div>

  <div class="w-full grid grid-cols-3 gap-4 mt-5 mb-12">
    <% if user_signed_in? && (current_user.contributor? || current_user.admin?) %>
      <%= link_to "Editar dados da edição", edit_edition_path(@edition), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-stone-100 hover:bg-stone-50 inline-block font-medium" %>
      <%= button_to "Remover edição", @edition, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>

  <div class="w-full flex flex-col gap-2 mb-4">
    <ul class="w-full">
      <% if @articles.any? %>
        <% @articles.each do |article| %>
          <li class="w-full mb-5">
            <a href="<%= article_path(article) %>" class="block px-3.5 py-2.5 bg-stone-100 border-b">
              <p><%= article.title %></p>
              <p class="text-sm text-stone-500">
                <%= article.authors.map(&:name).join(", ") %>
              </p>
            </a>
          </li>
        <% end %>
      <% else %>
        <li class="block py-2.5 mb-5 font-semibold">Nenhum artigo encontrado.</li>
      <% end %>
      <li>
        <% if user_signed_in? && (current_user.contributor? || current_user.admin?) %>
          <%= link_to "Adicionar novo artigo", new_article_path(article: { edition_id: @edition.id }), class: "flex w-fit px-3.5 py-2.5 border-b mb-5 font-semibold" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>