<div id="<%= dom_id article %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <h1 class="text-3xl"><%= article.title %></h1>
  </div>
  <div>
    <strong class="block font-medium mb-1">Autores:</strong>
    <%= article.authors %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Resumo:</strong>
    <%= article.abstract %>
  </div>

  <div class="grid grid-cols-2 gap-4 my-8 border-b pb-4">
    <div>
      <strong class="block font-medium mb-1">DOI:</strong>
      <%= article.doi %>
    </div>
    <div>
      <strong class="block font-medium mb-1">URL do artigo:</strong>
      <%= article.article_url %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Idioma da publicação:</strong>
      <%= article.language %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Tema da pesquisa:</strong>
      <%= article.research_theme %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Tipo de publicação:</strong>
      <%= article.publication_type %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Instituições:</strong>
      <%= article.institutions %>
    </div>
      <div>
      <strong class="block font-medium mb-1">Edição:</strong>
      <%= article.edition_id %>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 my-8 border-b pb-4">
    <div>
      <strong class="block font-medium mb-1">Metodologia principal:</strong>
      <%= article.main_methodology %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Fonte dos dados:</strong>
      <%= article.data_source %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Citação a banco de dados:</strong>
      <%= article.database_citation %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Delimitação estadual da pesquisa:</strong>
      <%= article.states %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Analise espacial:</strong>
      <%= article.spatial_analysis? ? "Sim" : "Não" %>
    </div>
    <div>
      <strong class="block font-medium mb-1">métodos de laboratório:</strong>
      <%= article.laboratory_methods %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Datações:</strong>
      <%= article.datings %>
    </div>
  </div>

  <div>
    <strong class="block font-medium mb-1">Referencias bibliográficas:</strong>
    <%= simple_format(article.bibliographic_reference) %>
  </div>
</div>
