<%# This partial renders bibliographic references form section for an article %>
<div class="my-5">
  <%= form.label "Referências bibliográficas", class: "font-bold" %>
  <div class="flex flex-col gap-2 mb-2" data-controller="bibliographic-references">
    <div class="flex flex-wrap gap-2 mb-2">
      <% article.bibliographic_references.each do |reference| %>
        <span class="flex bg-stone-100 text-black px-2 py-2 rounded w-full justify-between items-center" data-bibliographic-references-target="referenceTag" data-bibliographic-references-index="<%= reference.id %>">
          <ul>
            <li class="list-none ml-0">
              <% if reference.author_refs.any? %>
                <span><%= reference.author_refs.map(&:name).to_sentence(last_word_connector: ', ', two_words_connector: ', ') %></span>.
              <% end %>
              <strong><%= reference.title %>.</strong>
              <%= reference.publication_location.presence ? reference.publication_location + ": " : "" %>
              <%= reference.publisher.presence ? reference.publisher + ", " : "" %>
              <%= reference.year.presence ? reference.year.to_s + "." : "" %>
              <% if reference.doi.present? %>
                DOI: <%= reference.doi %>.
              <% end %>
            </li>
          </ul>
          <button
            type="button"
            class="ml-2 text-red-500 hover:text-red-700 font-bold cursor-pointer bg-red-100 px-2 flex justify-center items-center rounded"
            data-action="click->bibliographic-references#removeReference"
            data-bibliographic-references-index="<%= reference.id %>"
          >
            &times;
          </button>
          <input type="hidden" name="article[bibliographic_reference_ids][]" value="<%= reference.id %>" />
        </span>
      <% end %>
    </div>
    <div>
      <div>
        <p>Buscar referência existente pelo título</p>
        <input
          type="text"
          name="new_bibliographic_reference_search"
          placeholder="Buscar..."
          class="border rounded px-2 py-1 w-48 mt-2"
          data-action="input->bibliographic-references#autocomplete keydown->bibliographic-references#handleKeydown"
          data-bibliographic-references-target="input"
          autocomplete="off"
        />
        <ul class="absolute bg-white border rounded shadow mt-1 z-10 w-96 hidden" data-bibliographic-references-target="suggestions"></ul>
      </div>
    </div>
    <div class="border rounded p-3 bg-stone-50 mt-2" data-controller="doi-lookup">
      <p class="mb-2">Cadastrar nova referência</p>
      
      <div class="mb-3 p-2 bg-blue-50 rounded-md">
        <label class="block mb-1 font-medium">Buscar referência por DOI:</label>
        <div class="flex items-center">
          <input 
            type="text" 
            placeholder="Ex: 10.1016/j.jasrep.2017.11.036" 
            class="border rounded px-2 py-1 w-full h-10" 
            data-doi-lookup-target="doiInput"
          />
          <button 
            type="button" 
            class="ml-2 bg-blue-600 hover:bg-blue-500 text-white px-3 py-1 h-10 rounded whitespace-nowrap min-w-max"
            data-action="click->doi-lookup#fetchDoi"
          >
            Buscar DOI
          </button>
        </div>
        <div data-doi-lookup-target="message" class="mt-1 text-sm hidden"></div>
      </div>
      
      <div data-bibliographic-references-target="errorMessages" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3 mb-3 hidden"></div>
      
      <div class="grid grid-cols-1 items-end md:grid-cols-2 gap-2">
        <div>
          <div class="flex flex-col gap-2" data-controller="authors" data-authors-context="bibliographic-reference">
            <div class="flex flex-col gap-2 mb-2"></div>
            <div class="flex items-center">
              <input
                type="text"
                name="new_bibliographic_reference[author_refs_search]"
                placeholder="Adicionar autor"
                class="border rounded px-2 py-1 w-full h-10"
                data-action="input->authors#autocomplete keydown->authors#handleKeydown"
                data-authors-target="input"
                autocomplete="off"
              />
              <ul class="absolute bg-white border rounded shadow mt-1 z-10 w-48 hidden" data-authors-target="suggestions"></ul>
              <button type="button" class="ml-2 bg-blue-500 text-white px-2 py-1 h-10 rounded">Adicionar</button>
            </div>
          </div>
          <div data-doi-lookup-target="authorsContainer" class="mt-2"></div>
        </div>
        <input type="text" name="new_bibliographic_reference[title]" placeholder="Título" class="border rounded px-2 py-1 w-full h-10" data-doi-lookup-target="title" />
        <input type="number" name="new_bibliographic_reference[year]" placeholder="Ano" class="border rounded px-2 py-1 w-full h-10" data-doi-lookup-target="year" />
        <input type="text" name="new_bibliographic_reference[publisher]" placeholder="Editora" class="border rounded px-2 py-1 w-full h-10" data-doi-lookup-target="publisher" />
        <input type="text" name="new_bibliographic_reference[publication_location]" placeholder="Local de publicação" class="border rounded px-2 py-1 w-full h-10" data-doi-lookup-target="publicationLocation" />
        <input type="text" name="new_bibliographic_reference[doi]" placeholder="DOI" class="border rounded px-2 py-1 w-full h-10" data-doi-lookup-target="doiField" />
        <input type="text" name="new_bibliographic_reference[language]" placeholder="Idioma" class="border rounded px-2 py-1 w-full h-10" data-doi-lookup-target="language" />
        <input type="text" name="new_bibliographic_reference[reference_type]" placeholder="Tipo de referência" class="border rounded px-2 py-1 w-full h-10" data-doi-lookup-target="referenceType" />
      </div>
      <button 
        type="button" 
        class="mt-2 bg-green-600 text-white px-3 py-1 rounded flex items-center justify-center min-w-[200px]" 
        data-action="click->bibliographic-references#addNewReference"
        data-bibliographic-references-target="submitButton">
        <span data-bibliographic-references-target="buttonText">Cadastrar nova referência</span>
        <span data-bibliographic-references-target="loadingSpinner" class="hidden ml-2">
          <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
        </span>
      </button>
    </div>
  </div>
</div>
