<%# This partial renders bibliographic references for an article %>
<div>
  <strong class="block font-medium mb-1">Referências bibliográficas:</strong>
  <ul class="list-disc ml-6">
    <% bibliographic_references.each do |reference| %>
      <li class="mb-2">
        <% if reference.author_refs.any? %>
          <span>(
            <%= reference.author_refs.map(&:name).to_sentence(last_word_connector: ', ', two_words_connector: ', ') %>
          )</span>
        <% end %>
        <strong><%= reference.title %>.</strong>
        <%= reference.publication_location.presence ? reference.publication_location + ": " : "" %>
        <%= reference.publisher.presence ? reference.publisher + ", " : "" %>
        <%= reference.year.presence ? reference.year.to_s + "." : "" %>
        <% if reference.doi.present? %>
          DOI: <%= reference.doi %>.
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
