<% content_for :title, "Editing article" %>

<div class="max-w-7xl mx-auto container w-full">
  <h1 class="font-bold text-4xl">Editing article</h1>

  <div class="mb-4 text-sm breadcrumbs w-full">
    <ul class="flex space-x-2">
      <li class="text-gray-500"><%= link_to "Revistas", scientific_journals_path %></li>
      <li>/</li>
      <li class="text-gray-500"><%= link_to @article.edition.scientific_journal.name, scientific_journal_path(@article.edition.scientific_journal) %></li>
      <li>/</li>
      <li class="text-gray-500"><%= link_to "Volume #{@article.edition.volume}", edition_path(@article.edition) %></li>
      <li>/</li>
      <li class="font-semibold">Editar artigo</li>
    </ul>
  </div>

  <%= render "form", article: @article, keywords: @keywords, edition_id: params.dig(:article, :edition_id) %>

  <%= link_to "Show this article", @article, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>


<script>
  console.log("----", <%= raw(@article.to_json) %>)
</script>