<div id="<%= dom_id author %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= author.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country of origin:</strong>
    <%= author.country_of_origin %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Institutional affiliation:</strong>
    <%= author.institutional_affiliation %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Specialization area:</strong>
    <%= author.specialization_area %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Academic background:</strong>
    <%= author.academic_background %>
  </div>
</div>
