<header class="w-full bg-white shadow-sm sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 py-3 flex items-center justify-between">
    <div class="flex items-baseline">
      <a href="/">
        <h1 class="font-bold sm:text-2xl text-xl">Bibliometria Arqueológica</h1>
      </a>
      <a href="/scientific_journals" class="ml-4 text-stone-500 hover:text-stone-300 font-semibold sm:block hidden">Revistas cientificas</a>
      <a href="<%= blog_path %>" class="ml-4 text-stone-500 hover:text-stone-300 font-semibold sm:block hidden">Blog</a>
    </div>

    <div class="gap-4 items-center hidden sm:flex">
      <% if user_signed_in? %>
        <p class="text-stone-400"><%= current_user.email %></p>
      <% end %>
      <div class="flex gap-2">
        <% if user_signed_in? %>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "text-stone-500 hover:text-stone-300" %>
          <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: "text-stone-500 hover:text-stone-300" %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: "text-stone-500 hover:text-stone-300" %>
        <% end %>
      </div>
    </div>

    <div class="sm:hidden flex items-center">
      <%= render 'shared/header/menu_mobile'%>
    </div>
  </div>
</header>
