<div id="<%= dom_id scientific_journal %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= scientific_journal.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Institutional affiliation:</strong>
    <%= scientific_journal.institutional_affiliation %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Issn:</strong>
    <%= scientific_journal.issn %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Thematic scope:</strong>
    <%= scientific_journal.thematic_scope %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Website url:</strong>
    <%= scientific_journal.website_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Periodicity:</strong>
    <%= scientific_journal.periodicity %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Current status:</strong>
    <%= scientific_journal.current_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Foundation year:</strong>
    <%= scientific_journal.foundation_year %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Closure year:</strong>
    <%= scientific_journal.closure_year %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Qualis:</strong>
    <%= scientific_journal.qualis %>
  </div>
</div>
