<% content_for :title, "Showing scientific journal" %>

<div class="min-h-screen flex flex-col gap-8 items-center w-full bg-white rounded-lg shadow-sm px-4 py-8">
  <div class="w-full max-w-7xl px-4 mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="mb-4 text-sm breadcrumbs w-full">
      <ul class="flex space-x-2">
        <li class="text-gray-500"><%= link_to "Revistas", scientific_journals_path %></li>
        <li>/</li>
        <li class="font-semibold"><%= @scientific_journal.name %></li>
      </ul>
    </div>

    <div class="mb-6">
      <h1 class="text-2xl font-bold text-gray-800 mb-8">
        <%= @scientific_journal.name %>
      </h1>
      <div class="w-full mb-4">
        <strong class="block font-medium mb-1">Escopo temático:</strong>
        <%= @scientific_journal.thematic_scope %>
      </div>
      <div class="w-full grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <div>
          <strong class="block font-medium mb-1">Vínculo institucional:</strong>
          <%= @scientific_journal.institutional_affiliation %>
        </div>
        <div>
          <strong class="block font-medium mb-1">ISSN:</strong>
          <%= @scientific_journal.issn %>
        </div>
        <div>
          <strong class="block font-medium mb-1">URL do site:</strong>
          <%= @scientific_journal.website_url %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Periodicidade:</strong>
          <%= @scientific_journal.periodicity %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Status atual (ativo, descontinuado, etc):</strong>
          <%= @scientific_journal.current_status %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Ano da fundação:</strong>
          <%= @scientific_journal.foundation_year %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Ano do encerramento:</strong>
          <%= @scientific_journal.closure_year %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Qualis:</strong>
          <%= @scientific_journal.qualis %>
        </div>
      </div>
    </div>

    <div class="flex flex-col sm:flex-row gap-2">
      <%= link_to "Editar", edit_scientific_journal_path(@scientific_journal), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
      <%= link_to "Voltar para revistas", scientific_journals_path, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
      <%= button_to "Remover revista", @scientific_journal, method: :delete, form_class: "w-full sm:w-auto", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-700 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
    </div>
  </div>

  <div class="w-full max-w-7xl px-4 mx-auto">
    <div class="flex flex-col sm:flex-row justify-between items-center mb-4 gap-2">
      <h2 class="text-xl font-bold text-gray-800">Edições</h2>
      <%= link_to "Criar nova edição", new_edition_path(scientific_journal_id: @scientific_journal.id), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium inline-block" %>
    </div>

    <div class="flex flex-col gap-4 w-full">
      <% @editions.each do |edition| %>
        <% if edition.present? && edition.id.present? %>
          <a class="w-full bg-white border border-gray-200 rounded-md shadow-sm hover:bg-blue-50 transition px-4 py-2" href="<%= edition_path(edition) %>">
            <%= edition.volume %>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>