<% content_for :title, "Showing scientific journal" %>

<div class="container flex flex-col gap-8 items-center">
  <div class="max-w-3xl w-max mx-auto p-6 bg-gray-200 shadow-md rounded-lg">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="mb-6">
      <h1 class="text-2xl font-bold text-gray-800 mb-4">
        <%= @scientific_journal.name %>
      </h1>
      <div class="w-full grid gap-4 grid-cols-3">
        <div>
          <strong class="block font-medium mb-1">Institutional affiliation:</strong>
          <%= @scientific_journal.institutional_affiliation %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Issn:</strong>
          <%= @scientific_journal.issn %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Thematic scope:</strong>
          <%= @scientific_journal.thematic_scope %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Website url:</strong>
          <%= @scientific_journal.website_url %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Periodicity:</strong>
          <%= @scientific_journal.periodicity %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Current status:</strong>
          <%= @scientific_journal.current_status %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Foundation year:</strong>
          <%= @scientific_journal.foundation_year %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Closure year:</strong>
          <%= @scientific_journal.closure_year %>
        </div>
        <div>
          <strong class="block font-medium mb-1">Qualis:</strong>
          <%= @scientific_journal.qualis %>
        </div>
      </div>
    </div>

    <div class="flex flex-col sm:flex-row gap-2">
      <%= link_to "Edit this scientific journal", edit_scientific_journal_path(@scientific_journal), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
      <%= link_to "Back to scientific journals", scientific_journals_path, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
      <%= button_to "Destroy this scientific journal", @scientific_journal, method: :delete, form_class: "w-full sm:w-auto", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-700 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
    </div>
  </div>

  <div class="max-w-3xl w-max">
    <h2 class="text-xl font-bold text-gray-800 mt-8 mb-4">Editions</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <% @editions.each do |edition| %>
        <div class="bg-white shadow-md rounded-lg p-4">
          <div class="flex flex-col gap-2">
            <div>
              <%= edition.volume %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>